{% extends "detailings/project-detail-layout.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4">404 - Page Not Found</h1>
    <p class="lead mt-4">This specific website is not live yet.</p>
    <p>Moderation is currently being added, and it will be live soon. Please check back later or contact me for more information.</p>
    <a href="{% url 'The_Website_v1:portfolio' %}" class="btn btn-primary mt-3">Back to Projects</a>
</div>
{% endblock %}

