{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <title>Newton Maina || Portfolio</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="portfolio-section py-5">
        <section class="intro-section">
            <div class="big-circle">
                <div class="small-circle"></div>
            </div>
            <div class="retext">
                <h1>-Portfolio Showcase-</h1>
            </div>
        </section>
        <hr style="margin-bottom: 70px">

        {% for project in page_obj %}
            <div class="portfolio-item" style="background-image: url('{{ project.image01.url }}');">
                <div class="portfolio-content">
                    <h2 class="portfolio-title">{{ project.title }}</h2>
                    <p class="portfolio-description">Case Name: {{ project.case_name }}<br>Description: {{ project.description }}</p>
                    <a href="{% url 'The_Website_v1:project_detail' project.pk %}" class="view-case-button">View Full Case</a>
                </div>
                <div class="portfolio-images">
                    <img src="{{ project.image1.url }}" alt="Image 1" loading="lazy">
                    <img src="{{ project.image2.url }}" alt="Image 2" loading="lazy">
                    <img src="{{ project.image3.url }}" alt="Image 3" loading="lazy">
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
{% endblock %}
