{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4" style="background-color: rgba(51, 51, 51, 0.5); box-shadow: 0 20px 15px rgba(128, 128, 128, 0.5);">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text" style="font-size: 16px"> This blog section is created using Django Web Framework for backend side, designed with bootswatch
        theme for UI - you can also get to know me more ... </p>
      <a href="{% url 'The_Website_v1:about' %}" class="btn btn-outline-dark">More About me!...</a>
    </div>
  </div>
    <div class="button-container" style=" display:flex; justify-content: center;">
        <a href="{% url 'The_Website_v1:blog_home' %}" class="btn btn-primary">View More Posts</a>
    </div>
</div>

{% endblock sidebar %}